/*Background Setup*/
* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #f6dda8;
}

/*Header & Footer*/
img {
    margin: 10px;
    border-radius: 0.5rem;
    width: 98.5%;
    display: block
}

/*Logo*/
.logo {
    font-size: 20px;
    color: #0068b4
}

/*Main-Bar*/
#main-bar {
    margin: 10px;
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 0.5rem
}

.main-contents {
    display: flex;
    gap: 2rem;
    color: #358141;
    transition: 0.3s ease-out all
}

.main-links,
.drop-contents li {
    padding: 0.5rem 1rem;
    height: 100%;
    list-style: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-out all
}

a {
    color: currentColor;
    text-decoration: none;
    transition: 0.3s ease-out all
}

.drop-contents {
    margin: 0.5rem 0 0 -1rem;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    position: absolute;
    display: none;
    background-color: #0068b4;
    border-radius: 0.5rem;
    color: white;
    font-size: 12px;
    transition: 0.3 ease-out all
}

.main-links:hover {
    background-color: #ffd200;
    border-radius: 0.5rem;
    transition: 0.3s ease-out all
}

.main-links.drop:hover .drop-contents {
    display: block;
    transition: 0.3 ease-out all
}

.main-links.drop a {
    display: flex
}

.drop-icon {
    position: relative;
    right: -5px;
    font-size: 10px;
    transform: rotate(0deg);
    transition: 0.3s ease-out all
}

.main-links.drop:hover .drop-icon {
    transform: rotate(180deg);
    transition: 0.3s ease-out all
}

.drop-contents li:hover {
    background-color: #ffd200;
    border-radius: 0.5rem;
    color: #358141;
    transition: 0.3s ease-out all
}

/*Side-Bar*/
.side-bar {
    position: relative;
    height: 100%;
    width: 300px;
    color: #358141
}

.side-bar .side-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0.5rem;
    z-index: 9999;
    cursor: pointer;
    transition: 0.3s ease-out all
}

.side-bar .side-button svg {
    position: absolute;
    transition: 0.3s ease-out all
}

.side-bar .side-button svg.close {
    opacity: 0
}

#button:checked~.side-button svg.close {
    opacity: 1;
    transform: rotate(-180deg);
}

#button:checked~.side-button svg.bars {
    opacity: 0;
    transform: rotate(180deg);
}

#side-bar {
    margin: 35px 10px 0 0;
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 270px;
    background-color: white;
    border-radius: 0.5rem;
    right: -500px;
    transition: 0.3s ease-out all
}

#button:checked~#side-bar {
    right: 0;
}

#side-bar .contents {
    text-align: center;
    line-height: 65px;
    font-weight: 600
}

#side-bar .side-contents {
    position: relative;
    height: 100%;
    background-color: white;
    list-style: none;
    font-size: 13px
}

#side-bar .side-contents li {
    margin-bottom: 10px;
    padding: 0 10px 0 10px;
    width: fit-content;
    background-color: white
}

#side-bar .side-contents .side-links {
    margin-left: 20px;
    line-height: 30px
}

#side-bar .side-contents .side-sublinks {
    margin-left: 30px;
    line-height: 20px;
    font-weight: 100
}

#side-bar .side-contents li:hover {
    background-color: #ffd200;
    border-radius: 0.5rem
}

/*Main*/
article {
    margin: 10px;
    padding: 25px;
    background-color: #9ac972;
    border-radius: 0.5rem;
    color: white
}

h1 {
    padding: 15px;
    background-color: #358141;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    text-align: center;
}

h2 {
    font-size: 18px;
}

h3 {
    padding-top: 5px;
    text-align: center;
    font-size: 16px;
    font-style: italic;
}

p {
    padding: 10px 0 0 0;
    text-align: justify;
}

p.a {
    margin: 10px 30px 20px 30px;
    color: #358141
}

.daftar {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.poin {
    margin-bottom: 1rem;
    padding: 10px;
    align-content: center;
    height: 130px;
    width: 150px;
    border-radius: 0.5rem;
    text-align: center;
    color: white
}

.target {
    margin: 0.5rem;
    padding: 10px;
    align-content: center;
    height: 130px;
    width: 400px;
    background-color: #0068b4;
    border-radius: 0.5rem;
    text-align: center;
    color: white;
}

.row {
    margin: 10px;
    display: flex;
    justify-content: stretch;
}

.alasan {
    margin: 10px;
    padding: 20px;
    align-content: center;
    height: 75px;
    width: 200px;
    background-color: #0068b4;
    border-radius: 0.5rem;
    text-align: center;
    color: white;
}

.penjelasan {
    margin: 10px 0 20px 20px;
    align-content: center;
    height: 125px;
    width: 900px;
    text-align: justify;
    color: white
}

.sila {
    margin: 10px;
    padding: 20px;
    align-content: center;
    height: 70px;
    width: 250px;
    background-color: #0068b4;
    border-radius: 0.5rem;
    text-align: center;
    color: white;
}

.penjabaran {
    margin: 1px 0 20px 20px;
    height: 125px;
    width: 800px;
    align-content: center;
    text-align: justify;
}

/*Aside*/
aside {
    margin: 10px;
    padding: 0.5rem 1.5rem;
    justify-items: center;
    background-color: white;
    border-radius: 0.5rem;
    font-size: 15px;
    color: #0068b4;
}
